<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{book.title}}</title>
    </head>
    <body>
        <div id="header">
            <a href="{% url 'belt:books' %}">Home</a>
            <a href="{% url 'belt:logout' %}">Logout</a>
        </div>
        <div class="reviews" style="float: left;">
            <h2>{{book.title}}</h2>
            <h3>Author: {{book.author}}</h3>
            <h2>Reviews:</h2>
            {% for review in reviews %}
                {% if review.book == book %}
                    <hr>
                    <p>Rating:
                        {% load staticfiles %}
                        {% for i in 'xxxxx' %}
                            {% if forloop.counter0 < review.rating %}
                                <img style="width: 30px; height: auto;"src="{% static 'practiceBlackBelt/images/yellow_star.png' %}" alt="filled_star" />
                            {% else %}
                                <img style="width: 30px; height: auto;" src="{% static 'practiceBlackBelt/images/empty_star.png' %}" alt="empty_star" />
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p><a href="{% url 'belt:show_user' id=review.user.id %}">{{review.user.alias}}</a> says: {{review.review}}</p>
                    <p>Posted on {{review.updated_at}}</p>
                    {% if review.user.id == request.session.id %}
                        <a href="{% url 'belt:delete_review' review_id=review.id book_id=book.id%}">Delete this Review</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div id="add_review" style="float: left;">
            <h4>Add a Review:</h4>
            <form action="{% url 'belt:process_review' %}" method="post">
                {% csrf_token %}
                <textarea name="review" rows="8" cols="40"></textarea>
                <label>Rating:
                    <select name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                stars</label>
                <input type="hidden" name="book_id" value="{{book.id}}">
                <input type="submit" value="Submit Review">
            </form>
        </div>
    </body>
</html>














<!--  -->
