<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{user.alias}}</title>
    </head>
    <body>
        <div id="header">
            <a href="{% url 'belt:books' %}">Home</a>
            <a href="{% url 'belt:books_add' %}">Add Book and Review</a>
            <a href="{% url 'belt:logout' %}">Logout</a>
        </div>
        <div>
            <h3>User Alias: {{user.alias}}</h3>
            <p>Name: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Total Reviews: {{num_reviews}}</p>
        </div>
        <div>
            <p>Posted Reviews on the follwing books:</p>
            {% for review in reviews %}

                <a style="display: block;" href="{% url 'belt:show_book' id=review.book.id %}">{{review.book.title}}</a>

            {% endfor %}
        </div>
    </body>
</html>
